.hidden-stories-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
}

.hidden-stories-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background-color);
}

.hidden-stories-item-image {
    margin: 0;
    line-height: 0;
}

.hidden-stories-item-image picture img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.hidden-stories-item-body {
    padding: 24px;
    flex: 1;
    color: var(--text-color);
}

.hidden-stories-item-body h2,
.hidden-stories-item-body h3 {
    margin-block-start: 0;
}
