footer {
    background-color: rgb(153, 158, 163);
    font-size: 1rem;
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px var(--header-padding-x, 40px) 24px;
    display: flex;
    flex-wrap: wrap;
}

.footer-item {
    margin: 0 0 12px;
    width: calc(1 / 3 * 100%);
}

.footer-item a {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size-xs);
    font-weight: 300;
    letter-spacing: var(--header-letter-spacing, 0.12em);
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #fff;
}

.footer-item a:hover {
    color: rgb(36, 47, 58);
}

@media (width < 900px) {
    .footer-inner {
        padding: 32px 24px 24px;
    }

    .footer-item {
        width: calc(1 / 2 * 100%);
    }
}
