<!DOCTYPE html>
<html>
  <head>
    <title>{{properties.elements.title.value}}</title>
  </head>

  <body>
    <header></header>

    <main>
      <div class="location-card">

        <!-- TITLE -->
        <h1>{{properties.elements.title.value}}</h1>

        <!-- IMAGE -->
         <picture>
          <img src="https://publish-p152536-e2003150.adobeaemcloud.com/content/dam/capella-eds-poc/Our-Collection-Capella-Shanghai.jpg" alt="Publish">
         </picture>
         <picture>
          <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google">
        </picture>
         <p>{{relativeUrlPrefix}}{{properties.elements.image.value}}</p>
         <picture>
            <img src="{{{properties.elements.image.value}}}">
          </picture>
        <div class="image"> 
          <img src="{{{properties.elements.image.value}}}" 
               alt="{{properties.elements.title.value}}">
        </div>

        <!-- DESCRIPTION (HTML must use triple braces) -->
        <div class="description">
          {{{properties.elements.description.value}}}
        </div>

        <!-- TAGS (array) -->
        <div class="tags">
          {{#properties.elements.tag.value}}
            <span class="tag">{{.}}</span>
          {{/properties.elements.tag.value}}
        </div>

      </div>
    </main>

    <footer></footer>
  </body>
</html>