<!DOCTYPE html>
<html>
  <head>
    <title>{{properties.elements.title.value}}</title>
  </head>

  <body>
    <header></header>

    <main>
      <div class="location-card">

        <!-- TITLE -->
        <h1>{{properties.elements.title.value}}</h1>

        <!-- IMAGE -->
         <p>{{properties.elements.image.value}}</p>
        <div class="image"> 
          <img src="{{properties.elements.image.value}}" 
               alt="{{properties.elements.title.value}}">
        </div>

        <!-- DESCRIPTION (HTML must use triple braces) -->
        <div class="description">
          {{{properties.elements.description.value}}}
        </div>

        <!-- TAGS (array) -->
        <div class="tags">
          {{#properties.elements.tag.value}}
            <span class="tag">{{.}}</span>
          {{/properties.elements.tag.value}}
        </div>

      </div>
    </main>

    <footer></footer>
  </body>
</html>